.section-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
}

.section-box {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.section {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.section h3 {
  font-size: 13px;
  transform: translateY(-10px);
}

.section:not(:last-child) {
  border-right: 1px solid #ccc;
}

.resources-section {
  background-color: blue;
  color: white;
}

.search-container {
  display: flex;
  align-items: center;
  width: 500px;
  margin-left: -480px;
  position: relative;
}

.search-container input {
  width: calc(100% - 35px);
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 0px 35px 0 10px; 
  
}

.search-icon {
  position: absolute;
 left: 5px;
  color: #ccc;
  cursor: pointer;
}
